/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.page button.next {
    margin-top:15px;
}

.page .component {
    margin-bottom:20px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#container {
    max-width:1024px;
    margin:0 auto;
    padding:10px;
}

body {
    padding-top:20px;
}

form .btn {
    margin-right:5px;
}

.list-group.feedback .list-group-item {
    margin: 0 0 -1px;
}

.list-group-item-heading {
    text-transform: capitalize;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.feedback li.placeholder {
    position: relative;
    padding-bottom:20px;
/** More li styles **/
}

ul.feedback .list-group-item {
    padding:15px;
}

ul.feedback li.placeholder:before {
    position: absolute;
/** Define arrowhead **/
}

ul.feedback li.list-group-item span.glyphicon {
    font-size: 1.3em;
}

.tab-pane form {
    margin:20px 0;
}

#content {
    margin-bottom:150px;
}

.survey-viewer-iframe {
    height:100%;
    min-height:500px;
    width:100%;
    border:none;
}

.survey-viewer-iframe body {
    padding-top:10px;
}

.loading-container {
    position: relative;
}

.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}

.loading-container .loading:before, .loading-iframe {
    background-color: white;
    background-image:url(loading.gif);
    background-position:center center;
    background-repeat:no-repeat;
    opacity: 1.0;
}

.loading-container .loading .btn[disabled], .loading-container .loading .btn-disabled {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.loading-iframe {
    width:100%;
    height:100%;
    min-height:100px;
}

.option-tabs {
    max-width:800px;
    margin:0 auto;
}

* {
    font-family:"MonospaceTypewriter";
}

body, td th {
    font-size:11px;
}

button .glyphicon {
    margin-right:3px;
}

.q-buttongroup {
    text-align:right;
}

#query-view {
    width:600px;
    margin:10px auto;
}

#query-filter select, #query-filter input {
    font-size:10pt;
    margin-right:4px;
}

table.select.table {
    border:none;
    width:auto;
    margin-bottom:5px;
}
ul.open-end-list.list-unstyled.box-list li {
    padding:5px 0;
}
ul.open-end-list.box-one {
    margin:5px 0;
    display:block;
}

table.select.table tr td { padding:0; border:none;}
table.select.table tr {border:none;}

.error p {
    color:red;
}

.filled {
    color:gray;
    font-style:italic;
}

.error .alert-info {
    padding:3px 5px;
}

.alert-info .glyphicon {
    margin-right:5px;
}

.loading-container .loading .glyphicon,
.loading-container .loading input {
    display:none;
}

.grid.table tr td {
    padding:0px;
}

.component.grid table.table tbody tr td.grid-row-header.grid-missing,
.component.grid table.table tr th.grid-missing {
    color:red;
}

.grid table.rowwise tbody tr:nth-of-type(even){
    background-color:#f9f9f9;
}

.grid table.colwise tbody td:nth-of-type(even),
.grid table.colwise thead th:nth-of-type(even){
    background-color:#f9f9f9;
}

.grid.table {
    width:auto;
}

.grid table tr th {
    padding:0 5px;
    text-align:left;
}
.table.select input.checkbox, .table.select input.radio {
    min-height:auto;
    padding:0;
    margin:0;
    display:inline;
}

.grid.table input[type=checkbox], .grid.table input[type=radio] {
    padding:0;
    margin:0;
}

table.grid tr td.grid-row-header {
    text-align:left;
    padding:0 5px;
}

.grid table tr td label.radio, .grid table tr td label.checkbox {
    display:block;
    margin:0;
    padding:0;
    min-height:auto;
    text-align:center;
}

.select.table tr td label {
    margin:3px 0;
}

.select .badge {
    color:transparent;
    margin-right:5px;
}

.select label.checkbox.answered .badge {
    background-color:green;
    color:white;
}

.select label.checkbox {
    -ms-transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s linear 0, transform 0.5s;
}

.select.sortable-select-remove label.checkbox.answered {
    opacity:0;
}

.select.sortable-select-hide label.checkbox.answered {
    opacity:0;
    display:none;
}

.select.sortable-select input, .select.sortable-select-remove input,
.select.sortable-select-hide input {
    display:none;
}

.select.sortable-select label, .select.sortable-select-remove label,
.select.sortable-select-hide label {
    padding-left:0;
    cursor:pointer;
}

.component .badge.checkbox-order {
    display:none;
}

.select.sortable-select .badge.checkbox-order {
    display:inline;
}

ul.box-one { 
    list-style : none;
    display:inline;
    margin:0;
    padding:0;
}

ul.box-one li {
    display:inline;
}

#c-name p { display:inline; }

#app, #report-dsl {
    margin:0 20px;
}
#activity-chart {
    width:400px;height:200px;
}
#quota-chart{
    width:400px;height:200px;
}

.chart {
    width:300px;
    height:200px;
}

.vjs-default-skin .vjs-control-bar {
    display:block;
}

.horizontal-select label.radio input[type="radio"],
.horizontal-select label.checkbox input[type="checkbox"]
 {
     margin-left:0;
     float:none;
}

.horizontal-select label span {
    display:block;
}

.acknowledge .question { display:none; }

.hide-page {
    position: absolute;
    left: -10000px;
}

img.image.expand-image {
    width:100%;
}

.image-expand img {
    transition:width 0.5s ease-out, height 0.5s ease-out;
}

ul .glyphicon {
    margin-right:5px;
}

.form-inline {
    padding-left:20px;
}

.form-inline .form-group {
    margin:3px 3px;
}

.s-source {
    cursor:pointer;
}

/* .s-target { */
/*     background-color:#ffe7e7; */
/*     border-top:1px solid transparent; */
/*     border-bottom:1px solid transparent; */
/* } */

/* .s-target:hover:before { */
/*     border-top:1px solid red; */
/*     display:block; */
/*     content: ""; */
/* } */

/* .s-target:hover:after { */
/*     border-bottom:1px solid red; */
/*     display:block; */
/*     content:""; */
/* } */

/* .s-down { */
/*     border-bottom:1px solid red; */
/* } */

/* .s-up { */
/*     border-top:1px solid red; */
/* } */

/* .s-sortable .s-current-source { */
/*     visibility:hidden; */
/* } */

.rules-list > :before {
    top: -2px;
    border-width: 0 0 2px 2px;
}

.rules-list > :after,
.rules-list > :before {
    content: '';
    position: absolute;
    left: -15px;
    width: 15px;
    height: calc(50% + 4px);
    border-color: #ccc;
    border-style: solid;
}
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rules-list > :after {
    top: 50%;
    border-width: 0 0 0 2px;
}
.rules-list > :after,
.rules-list > :before {
    content: '';
    position: absolute;
    left: -15px;
    width: 15px;
    height: calc(50% + 4px);
    border-color: #ccc;
    border-style: solid;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rules-list {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
}

.rules-list > * {
    position: relative;
}

.rule-container, .rule-placeholder, .rules-group-container {
    margin: 4px 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #eee;
    background: #fff;
    background: rgba(255,255,255,.9);
}

.rules-list > :first-child:before {
    top: -12px;
    height: calc(50% + 14px);
}

.rules-list > :last-child:after {
    display: none;
}

.rule-group-container {
    margin-top:0;
}

