/* some style */
* {
    font-family:"Agave" !important;
}

.select2 {
    width:100%;
}


.select-clear {
    z-index: 1;
    position:absolute !important;
    right: 20px !important;
}

.select-clear-offset {   
    top:25px;
}

.select-clear svg {
    fill:rgba(0, 0, 0, 0.498039) !important;
}

#app {
    max-width:1024px;
    margin:10px auto;
}
