<table class='table table-bordered table-condensed'>
  <thead>
    <tr>
      <th><a></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <ul class='pagination'>
          <li></li>
        </ul>
        </td>
    </tr>
  </tfoot>
</table>
