<div class="p-palette row">
  <div class="col-sm-6">
    <div class="panel panel-default p-left">
      <div class="p-title clearfix panel-heading">
	<span data-message="p-values"></span>
	<button type="button" class="add-all btn btn-xs btn-success">
	  <span class="glyphicon glyphicon-plus-sign"></span>
	  <span data-message="add-all"></span>
	</button>
      </div>
      <div class="panel-body">
	<div class="form-inline">
	  <div class="form-group tags">
	    <select class="form-control">
	      <option value="" data-message="choose-tag"></option>
	    </select>
	  </div>
	  <div class="form-group">
	    <input class="form-control" type="text" name="search"/>
	  </div>
	</div>
	<ul class="list-group">
	  <li class="list-group-item">
	    <span></span>
	    <a>
	      <span class="glyphicon glyphicon-plus-sign"></span>
	    </a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default p-right">
      <div class="p-title clearfix panel-heading">
	<span data-message="p-selected"></span>
	<button type="button" class="btn btn-xs remove-all btn-danger">
	  <span class="glyphicon glyphicon-minus-sign"></span>
	  <span data-message="remove-all"></span>
	</button>
      </div>
      <div class="panel-body">
	<ul class="list-group">
	  <li class="list-group-item">
	    <span></span>
	    <a>
	      <span class="glyphicon glyphicon-minus-sign"></span>
	    </a>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
